* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topo {
    background-color: burlywood;
}
#menu
{
    background-color: blueviolet;
}
.destaques{
    background-color: coral;
}
#rodape {
    background-color: brown;
}
#logo
{
    background-color: black;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 550px;
}